@use "variables";
@use "mixins";

.spending-card {
  position: relative;
  top: 5em;
  margin: 0 auto;
  padding: 15px 25px;
  width: 30vw;
  max-width: 500px;
  min-width: 350px;
  height: 380px;
  max-height: 400px;
  border-radius: 15px;
  background-color: variables.$Very-pale-orange;

  h2 {
    margin-left: 10px;
    font-size: variables.$font-size + 4px;
    font-weight: 700;
    color: variables.$Dark-brown;
  }

  .container-graphs {
    margin-top: 10px;
    height: 180px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
    gap: 5px;
  }

  .amount {
    position: relative;
    right: 6px;
    font-size: 0.8em;
    width: 4em;
    height: 2.3em;
    margin: auto;
    text-align: center;
    line-height: 35px;
    border-radius: 6px;
    background-color: variables.$Dark-brown;
    color: variables.$Very-pale-orange;
    font-weight: 700;
    display: none;
  }

  figure {
    display: inline-block;
    width: 11%;

    figcaption {
      margin-top: 5px;
      font-size: variables.$font-size - 5px;
      font-weight: 400;
      text-align: center;
      color: variables.$Medium-brown;
    }
  }
}

%spending-card__bar {
  width: 100%;
  border-radius: 6px;
  margin-top: 8px;
}

.spending-card__bar--mon {
  @extend %spending-card__bar;
  @include mixins.bar-theme(variables.$Soft-red);
}

.spending-card__bar--tue {
  @extend %spending-card__bar;
  @include mixins.bar-theme(variables.$Soft-red);
}

.spending-card__bar--wed {
  @extend %spending-card__bar;
  @include mixins.bar-theme(variables.$Cyan);
}

.spending-card__bar--thu {
  @extend %spending-card__bar;
  @include mixins.bar-theme(variables.$Soft-red);
}

.spending-card__bar--fri {
  @extend %spending-card__bar;
  @include mixins.bar-theme(variables.$Soft-red);
}

.spending-card__bar--sat {
  @extend %spending-card__bar;
  @include mixins.bar-theme(variables.$Soft-red);
}

.spending-card__bar--sun {
  @extend %spending-card__bar;
  @include mixins.bar-theme(variables.$Soft-red);
}